/* Cor de fundo */
body {
    background-color: purple;
}

/* O quadrado à volta do formulário */
#questions {
    background-color: lightgray;
    width: 75%;
    margin: auto;
    text-align: center;
    border-radius: 25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.question-label {
    background-color: lightgreen;
    border-radius: 25px;
    padding-left: 10px;
    padding-right: 10px;
}

/* As coisas em que se escreve as respostas */
.question-input {
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 5px;
    margin-bottom: 15px;
    text-align: center;
}

.question-other-text {
    margin-bottom: 15px;
    text-align: center;

}