/* Cor de fundo */
body {
    background-color: purple;
    margin: 0%;
}

/* O quadrado à volta do formulário */
#main-area {
    background-color: lightgray;
    width: 75%;
    margin: auto;
    text-align: center;
    border-radius: 25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 3px;
}

.email-input {
    padding-left: 10%;
    padding-right: 10%;
    text-align: center
}

form h6{
    margin-top: 5px;
    padding: 5px;
}

.question-label {
    background-color: lightgreen;
    border-radius: 25px;
    padding-left: 10px;
    padding-right: 10px;
}

/* As coisas em que se escreve as respostas */
.question-input {
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 5px;
    margin-bottom: 15px;
    text-align: center;
}

.question-other-text {
    margin-bottom: 15px;
    text-align: center;

}

.submit-button {
    margin-bottom: 15px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}