*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: rgb(201, 51, 201);
}

#main-area {
    background-color: rgb(83,83,83);
    margin: auto;
    padding: auto;
    width: 960px;
    height: 500px;
    border-radius: 25px;
    text-align: center;
}
.local{
    margin-left: 75%;
    height: 25px;
}
.logo{
    width: 154;
    height: 90;
}
.thanks {
    margin-top: 220px;
}