*{
    font-family: 'Brush Script MT', monospace, cursive;
}

body {
    background-color: rgba(128, 0, 128, 0.952);
}

#main-area {
    background-color: rgb(90, 90, 90);
    margin: auto;
    padding: auto;
    width: 960px;
    height: 500px;
    border-radius: 25px;
    text-align: center;
}
.local{
    margin-left: 75%;
    height: 25px;
}
.logo{
    width: 154;
    height: 90;
}
.thanks {
    margin-top: 220px;
}