body {
    background-color: purple;
}
#main-area {
    margin: auto;
    background-color: lightgray;
    width: 75%;
    height: 90%;
    border-radius: 25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.thanks {
    width: 50%;
    text-align: center;
}